{% extends "blog/base.html" %}

{% block body_block %}


<div class="login-cont">
<div class="login-box">
{% if form.errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p class="error">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p class="error">Please login to see this page.</p>
{% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2>LOGIN HERE!</h2>
        <div class="user-box">
            {{ form.username }}
            <label>Username</label>
        </div>
    
        <div class="user-box">
            {{ form.password }}
            <label>Password</label>
        </div>
    
        <a type="submit" value="login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Login">
        </a>
    </form>
    
</div>
</div>

{% endblock body_block %}